
@{
    ViewBag.Title = "Dashboard";
}

<h2 style="text-align:left">MYVEGGIESTORE SITE MANAGEMENT</h2>

<p style="text-align: left">
    <br />
    <br />
    This is the Administrator dashboard of MyVeggieStore.
    &nbsp;
    <br />
    <br />
    You can do modify MyVeggieStore here.
    &nbsp;
    <br />
    <br />
    Below are the modules that you can conduct
    <br />
    Create, Update, Delete operations:
    &nbsp;
    <br />
    <ul style="text-align:left">
        <li>Add/Update/Delete Pages</li>
        <li>Activate and Remove Sidebar to the pages</li>
        <li>Add/Update/Delete Categories</li>
        <li>Add/Update/Delete Products</li>
        <li>Add New Store to the Map</li>
    </ul>
</p>


